/*************************************************
    GENERAL RULES CSS
 *************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  font-family: Montserrat, 'Helvetica Neue', sans-serif;
  font-size: 12px;
}

/* FONT */
 /* TITOLO: 'Nerko One', cursive;
 PAGINA : Montserrat, 'Helvetica Neue', sans-serif; */


 /*************************************************
    HEADER
 *************************************************/
 header {
    height: 60px;
    background-color: #db9136;
 }


  /*************************************************
    MAIN
 *************************************************/
body {
    background-color: #f6f5f3;
}

 main {
    /* debug */
    height: 600px;
 }

 .container {
    width: 70%;
    background-color: blueviolet;
    margin: 0 auto;
 }

/* ___________________________________________ */
 /* sezione video e prime info ricetta */

 /* -----> TITOLO RICETTA */
 .cont-titolo {
    background-color: rgb(28, 179, 161);
    height: 100px;
    display: flex;
 }

 h1 {
    color: #422c5f;
 }

 h5 {
    color: #999999;
 }

 .titolo-pt-1 {
    background-color: rgb(167, 255, 255);
 }

 .titolo-pt-2 {
    background-color: rgb(250, 194, 255);
 }

 /* -----> IMMAGINE/VIDEO E PRIME INFO */
.cont-video-e-txt {
    width: 100%;
    display: flex;
}

.cont-video {
    width: 70%;
}

.cont-video img {
   width: 100%;
   display: block; 
}

.cont-txt {
    background-color: white;
    width: 30%;
    padding: 20px 30px;
}

.cont-txt h3 {
    font-size: 14px;
    margin-bottom: 20px;
}

.cont-txt ul li {
   list-style: none;
   line-height: 2.5; 
}


 /* ___________________________________________ */


  /*************************************************
    FOOTER
 *************************************************/
 footer {
    height: 60px;
    background-color: #7c69a4;
 }






 
 
 
 /*************************************************
 *************************************************
 *   RESPONSIVE
 *************************************************
*************************************************/

/* TABLET */



/* SMARTPHONE */