/*************************************************
    GENERAL RULES CSS
 *************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  font-family: Montserrat, 'Helvetica Neue', sans-serif;
  font-size: 12px;
}

/* FONT */
 /* TITOLO: 'Nerko One', cursive;
 PAGINA : Montserrat, 'Helvetica Neue', sans-serif; */






 
 
 
 /*************************************************
 *************************************************
 *   RESPONSIVE
 *************************************************
*************************************************/

/* TABLET */



/* SMARTPHONE */