/*************************************************
    GENERAL RULES CSS
 *************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  font-family: Montserrat, 'Helvetica Neue', sans-serif;
  font-size: 12px;
}

/* FONT */
 /* TITOLO: 'Nerko One', cursive;
 PAGINA : Montserrat, 'Helvetica Neue', sans-serif; */


 /*************************************************
    HEADER
 *************************************************/
 header {
    height: 60px;
    background-color: white;
    font-size: 30px;
    font-family: 'Nerko One', cursive;
    color: #ff9614;
    display: flex;
    align-items: center;
    padding-left: 10px;
    text-shadow: 1px 1px 0 gray;
 }


  /*************************************************
    MAIN
 *************************************************/
body {
    background-color: #f6f5f3;
}

 .container {
    width: 70%;
    margin: 0 auto;
    padding-top: 30px;
 }

/* ___________________________________________ */
 /* sezione video e prime info ricetta */

 /* -----> TITOLO RICETTA */
 .cont-titolo {
    display: flex;
    align-items: flex-end;
 }

 h1 {
    color: #422c5f;
    font-size: 46px;
 }

 .titolo-pt-2 {
    padding-left: 20px;
 }

 h5 {
    color: #999999;
    margin-top: 20px;
    margin-bottom: 10px;
 }

 /* -----> IMMAGINE/VIDEO E PRIME INFO */
.cont-video-e-txt {
    width: 100%;
    display: flex;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.cont-video {
    width: 70%;
}

.cont-video img {
   width: 100%;
   display: block; 
}

.cont-txt {
    background-color: white;
    width: 30%;
    padding: 20px 30px;
}

.cont-txt h3 {
    font-size: 14px;
    margin-bottom: 20px;
}

.cont-txt ul li {
   list-style: none;
   line-height: 2.5; 
}
 /* ___________________________________________ */

 /* SEZIONE SOCIAL */

.cont-social {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

/* -----> icone social */
.box {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 20px;
    border-radius: 20px;
    width: 15%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.icona {
    display: flex;
    align-items: flex-start;
}

.fa-facebook {
    color: #1a77f3;
}

.fa-twitter {
    color: #009eff;
}

.fa-instagram {
    color: #dc3d78;
}

.fa-pinterest {
    color: #e62222;
}

.fa-youtube {
    color: #e62222;
}


/* -----> nome social */
.nome-social {
    
}
 /* ___________________________________________ */

/* BANNER */
.cont-banner {
    padding: 20px 0;
}

.cont-banner img {
   width: 100%;
   display: block; 
}
/* ___________________________________________ */

/* SEZIONE FOTO DOLCE E CURIOSITà RICETTA */
h2 {
    font-size: 24px;
    letter-spacing: 1.5px;
    padding-top: 10px;
    font-weight: 400;
}

hr {
    height: 3px;
    border: 2px solid #f6b977;
    width: 7%;
    margin-top: 10px;
}

.cont-foto-e-curiosità-ricetta {
    width: 100%;
    display: flex;
    padding-top: 25px;
    line-height: 1.5;
    font-size: 18px;
    margin-bottom: 65px;
}

.cont-foto-e-curiosità-ricetta img {
   width: 25%;
   display: block; 
}

.clearfix::after {
  display: table;
  content: '';
  clear: both;
}

.float-sx {
    float: left;
    margin-right: 10px;
}


  /*************************************************
    FOOTER
 *************************************************/
 footer {
    background-color: #7c69a4;
    margin: 0 auto;
    color: white;
 }

 .cont-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
 }

 address {
    padding-top: 10px;
 }

  .cont-right {
    display: flex;
    align-items: center
 }

 .cont-right ul {
    display: flex;
    gap: 30px;
    list-style: none;
 }
 
 
 /*************************************************
 *************************************************
 *   RESPONSIVE
 *************************************************
*************************************************/

/* TABLET */
@media screen and (max-width:1020px) {

.container {
    width: 90%;
}

/* sezione video e prime info ricetta */
.cont-video-e-txt {
    display: block;
}

.cont-video {
    width: 100%;
}

.cont-txt {
    width: 100%;
}

/* sezione social
(eliminato nomi social) */
 .nome-social {
    display: none;
  }

/* footer 
(impostato elementi al centro)*/
.cont-footer {
    display: block;
    text-align: center;
}

.cont-right {
    display: block;
    padding-top: 14px;
}

.cont-right ul {
    justify-content: center;
}

}


/* ********************************************* */
/* SMARTPHONE */
 @media screen and (max-width:640px) {

.container {
    width: 95%;
}

header {
    justify-content: center;
}

/* titolo ricetta
("eliminato" titolo tra parentesi) */
.titolo-pt-2 h1 {
    display: none;
}

/* sezione social 
(aggiustato size box)*/
.box {
    width: 5%; 
}

/* banner */
.cont-banner {
    display: none;
}

/* sezione PRESENTATION */
.cont-foto-e-curiosità-ricetta {
    display: block;
    line-height: 2;
    font-size: 1.3rem;
}

.cont-foto-e-curiosità-ricetta img {
    display: block;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 10px;

}

.float-sx {
    float: none;
}

hr {
    width: 6rem;
}
 }